# Just ignore everything by default, since there's liable to be a shitload of
# things in the user directory.
/*

!.gitignore
!.bashrc
!.Xresources
!.xinitrc
!scripts/

# This sillyness is to enable certain things in the config dir
!.config/
.config/*
!.config/htop
# i3
!.config/i3/
!.config/i3status/
!.config/i3status/config
# fish
!.config/fish/
.config/fish/*
!.config/fish/functions/
!.config/omf/
# ranger
!.config/ranger/
.config/ranger/*
!.config/ranger/rc.conf
# Cool lockscreen
!.config/screenlocker
!.config/lock_icon.png
# Polybar
!.config/polybar
# wal help
!.config/rando_wall.sh

